      <div class="container">
        <app-header></app-header>

        <div class="contenido">
          <h2>Actualizar datos del trabajador</h2>

          <form (ngSubmit)="formSubmit()">
            <div class="form">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  [(ngModel)]="user.nombre"
                  name="nombre"
                  required
                  matInput
                  placeholder="Digite su nombre"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input
                  [(ngModel)]="user.apellidos"
                  name="apellido"
                  required
                  matInput
                  placeholder="Digite sus apellidos"
                />
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input
                  required
                  matInput
                  [(ngModel)]="user.username"
                  name="username"
                  placeholder="Digite su usuario"
                />
                <mat-hint>El nombre de usuario debe ser único</mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  required
                  [(ngModel)]="user.password"
                  name="password"
                  type="password"
                  placeholder="Contraseña"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  [(ngModel)]="user.email"
                  name="email"
                  type="email"
                  required
                  matInput
                  placeholder="Digite su correo"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input
                  [(ngModel)]="user.telefono"
                  name="telefono"
                  matInput
                  required
                  placeholder="Digite su teléfono"
                />
              </mat-form-field>

              <!-- Campo select para seleccionar el rol -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select name="rol" [(ngModel)]="rolSeleccionado" required>
                  <mat-option *ngFor="let rol of roles" [value]="rol.id">
                    {{ rol.nombreRol }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
<mat-form-field class="half-width" appearance="outline" *ngIf="user">
  <mat-label>Estado</mat-label>
  <mat-select name="estado" [(ngModel)]="user.enable">
    <mat-option [value]="'true'">Activo</mat-option>
    <mat-option [value]="'false'">Inactivo</mat-option>
  </mat-select>
</mat-form-field>




            <div class="form-image-upload">
              <img

                [src]="user.perfil || 'assets/subir.jpg'"
                alt="Foto del trabajador"
              />
              <input type="file" (change)="onFileSelected($event)" />
            </div>
            </div>

            <div class="form-actions">
              <button mat-raised-button color="primary" class="btn-primary">
                Actualizar
              </button>
              <button
                mat-raised-button
                color="accent"
                type="reset"
                style="margin-left: 20px"
              >
                Limpiar
              </button>
            </div>
          </form>


        </div>
      </div>
