<div class="container">
  <mat-card class="sidebar-card">
    
    <div class="sidebar-header">
      <div class="logo-container d-flex flex-column align-items-center">
        <img src="../../../../assets/logo-cerroverde.svg" alt="Logo" class="logo-img" />
        <h5 class="logo-text-responsive">HCV</h5>
      </div>
    </div>

    <div class="menu-body">
      <mat-action-list>

        <button mat-list-item routerLink="/admin/dashboard-inicio" routerLinkActive="active" class="nav-button">
          <div class="d-flex align-items-center">
             <mat-icon>dashboard</mat-icon>
             <span class="capitalize-first">Inicio</span>
          </div>
        </button>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let modulo of modulos">
            <mat-expansion-panel-header>
              <div class="modulo-header">
                <mat-icon>{{ modulo.icon }}</mat-icon>
                <span class="nombre_modulo">{{ modulo.nombre }}</span>
              </div>
            </mat-expansion-panel-header>

            <div class="submodulo-buttons">
              <button *ngFor="let permiso of modulo.permisos" 
                      mat-list-item 
                      routerLink="/admin/{{ permiso.nombrePermiso | lowercase | replaceSpaces }}"
                      class="nav-button submodulo-nav-button">
                <div class="d-flex align-items-center">
                  <mat-icon style="font-size: 18px;">circle</mat-icon> 
                  <span class="capitalize-first">{{ permiso.nombrePermiso }}</span>
                </div>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-action-list>
    </div>

    <div class="sidebar-footer">
      <button mat-list-item (click)="cerrar()" class="nav-button logout">
        <div class="d-flex align-items-center">
           <mat-icon>logout</mat-icon>
           <span class="capitalize-first">Salir</span>
        </div>
      </button>
    </div>

  </mat-card>
</div>