.boostrap-wrapper {
  display: flex;
  padding-bottom: 1px;
}

.menu {
  width: 20%;
  background-color: #016048;
  min-height: 100vh; 
}

.contenido {
  width: 80%;           /* CENTRA el contenedor horizontalmente */
  background-color: ghostwhite;
  margin: 0 auto;
  zoom: 0.80;
  padding: 20px;         /* Un poco de relleno interno ayuda a la visual */
}